

    <div class="friends">
        <header>
            <%- include('includes/nav.ejs') %>
        </header>   
    </div>
    
    <div class="container form-body">
        <div id="baj-logo">
            <img src="/public/Assets/bs.jpg" style="height: 125px;width:auto; float:right;" alt="">
        </div>
    

        <div class="leftbox">
        </div>
        <div class="rightbox">
                <form action="/forgot-password" method="POST"class="profile">

                    <h1 style="color: rgba(43,55,96,1);">Forgot Password?</h1>
                    <h2>Enter you email</h2>
                    <input type="email" name="email" class="no-outline" placeholder="Eg. yourEmail@email.com" id="title">
                    
                    <div class="pledge">
                        <button>Send Reset Token</button>
                    </div>
                    <span><h3 style="color: green;"><%=msg%></h3></span>
                </form>
              
        
        </div>
            
          
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha256-fIkQKQryItPqpaWZbtwG25Jp2p5ujqo/NwJrfqAB+Qk=" crossorigin="anonymous"></script>