<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"> --}}
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Document</title>
    
    
</head>
<body>
    <div class="friends">
        <header>
            <nav>
                <a href="/" class="text-decoration-none"><h3 class="logo ">FRIENDS</h3></a>
                
                <svg class= "menu" width="43" height="23" viewBox="0 0 43 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line y1="1.5" x2="43" y2="1.5" stroke="white" stroke-width="3"/>
                    <line y1="11.5" x2="28" y2="11.5" stroke="white" stroke-width="3"/>
                    <line y1="21.5" x2="16" y2="21.5" stroke="white" stroke-width="3"/>
                </svg>
                
                <div class="nav-open">
                    <div class="contact">
                        <h3>Meet other bajgains !</h3>
                    </div>
                    <div class="social">
                        <h3 style="padding-bottom: 25px;">Social</h3>
                        <div class="social-links">
                            <img src="/public/Assets/Instagram.svg" alt="">
                            <img src="/public/Assets/Twitter.svg" alt="">
                            <img src="/public/Assets/Facebook.svg" alt="">
                        </div>
                        
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <div class="container form-body">
        <div id="baj-logo">
            <img src="/public/Assets/bs.jpg" style="height: 125px;width:auto; float:right; margin-righ:25px;" alt="">
        </div>
        

        <div class="leftbox">
        </div>
        <div class="rightbox">
            <div class="profile">
                <h1 style="color: rgba(43,55,96,1);">Personal Info</h1>
                <h2>Title</h2>
                <input type="text" class="no-outline" placeholder="Eg. Logic King, KUBH Snake">
                <h2>Full Name</h2>
                <input type="text" class="no-outline" placeholder="Reborn into a Bajgain">
                <h2>Birthday</h2>
                <input type="date" class="no-outline">
                <h2>Gender</h2>
                <select class="form-control" id="sel1">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Others</option>
                </select>
                <h2>Email</h2>
                <input type="email" class="no-outline" pattern=".+@globex.com" size="30" required>
                <h2>Favourite Bajgain Tale </h2>
                <textarea name="tales" id="tales" cols="30" rows="10"></textarea>
                <div class="pledge">
                    <button> I pledge to be a Bajgain Forever !</button>
                </div>
                
              
        
            </div>
        </div>
            
          
    {{!-- <script language="javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script> --}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha256-fIkQKQryItPqpaWZbtwG25Jp2p5ujqo/NwJrfqAB+Qk=" crossorigin="anonymous"></script>
    <script src="/public/js/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</body>
</html>

<script>
    document.querySelector('#myForm').addEventListener('submit',e=>{
        e.preventDefault();
        $.ajax({
            contentType: 'application/json',
            type: "POST",
            url: '/friends',
            data: JSON.stringify({
                firstname:  document.querySelector('#fname').value, 
                lastname:  document.querySelector('#lname').value,
                stand:  document.querySelector('#stand').value
            }),
            success: console.log('success'),
            dataType: "json"
        });
    })
    

  
</script>