    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="/public/Assets/bs-logo.png">
        <link rel="stylesheet" href="/public/css/style.css">
        <title>Bajgain and Friends</title>
        
    </head>
    <body>
        <%- body %>
        <script src="/public/js/app.js"></script>
        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script language="javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>