<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="friends">
        <header>
            <nav>
                <h3 class="logo">FRIENDS</h3>
                <h3 class="menu">MENU</h3>
            </nav>
            <main>
                
            </main>
        </header>
    </div>
</body>
</html>